{% extends "vsys:templates/_base.jinja2" %}

{%block content %}
	<div id="vehicles" class="center">
			<h3 class="session-title">Your registered vehicles</h3>
			
			<a class="offer" href="#">
				<div class="offer-circle">
					<img class="offer-image" src="../static/images/car.jpg">
				</div>
				<div class="offer-info">
					<h4>Car #1</h4>
				    <p class="car_model">Modelo: Carro esporte em ótimo estado</p>
				    <p class="car_price">Preço: R$600,00</p>
					<p class="date"><i class="fa fa-calendar" aria-hidden="true"></i> 20/11/2017 <i class="fa fa-clock-o" aria-hidden="true"></i> 15:00</p>
					<p class="by">Alugado por Fernanda Bezerra Carvalho</p>
					<p class="detail">Click to view in detail</p>
				</div>
			</a>

			<div id="talks">
				<h3 class="session-title">Your chats</h3>
			</div>
		</div>
{% endblock %}