body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f1e8;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 66px;
    margin-right: 1em;
}

input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: relative;
    left: 30%;
    right: 30%;
    width: 40%;
    background-color: #036c7a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    background-color: #036c7a;
    color: white;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color:  #188c9b;
}

/*hide navbar login button on login page*/
.loginbuttons * {
    visibility: hidden;
}

.login_page{
    width: 100%;
    padding: 20px;
    background-color: #f2f1e8;
}

.login_page_form{
    margin: auto;
    width: 35%;
    padding: 20px;
    background-color: #f2f1e8;
}

.login-title{
    text-align: center;
    color: rgba(0,0,0,0.54);
    font-size: 2em;
}