/*body {
	margin: 0;
}*/
nav {
	width: 100%;
}

button {
	font-family: 'Roboto', sans-serif;
}

.navbar{
	/*overflow: hidden;*/
	padding: 0.5em 0;
	background-color: #232323;
	border-bottom: 1px solid #232323;
	display: flex;
	width: 100%;
	align-items: center;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 0 !important;
}

.logo {
	padding-left: 7%;
	flex-grow: 10;
}

.logo h1 {
	margin: 0;
	font-size: 50px;
}

.links {
	flex-grow: 20;
	margin: 0;
}

.logo a,
.logo a:visited{
	text-decoration: none;
	color: #EEE;
}

.links ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.menulinks li {
	text-align: center;
	flex:1;
}

.menulinks a,
.menulinks a:visited{
	font-size: 20px;
	text-decoration: none;
	color: #EEE;
}

.loginbuttons {
	flex-grow: 70;
}

.loginbuttons a {
	float: right;
	margin-right: 3%;
}

.loginbuttons button {
    background-color: #232323;
    border: none;
    border-radius: 4px;
    color: #EEE;
    padding: 10px 21px;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.loginbuttons button:hover {
    background-color: #EEE;
    color: #232323;
}

/*#login_item {
	background-color: red; 
}*/