.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.slider img {
    border: 1px #232323 solid;
    max-width: 100%;
    /*max-height: 100%;*/
}

@media screen and (min-width: 480px) {
    .infos {
        padding-left: 5em;
    }
}

.infos dd {
    padding: 0 2em;
}

.profile_pic img{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    max-width: 8em;
    /*height: 200px;*/
}

div.stars {
    width: 270px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
